.auth-input, .btn-auth {
    border-radius: 40px;
    height: 50px;
}

.btn-nav {
    border-radius: 40px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.auth-input {
    padding-left: 20px;
}

.card-auth {
    min-height: 50%;
    border-radius: 30px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.auth-container {
    height: 100vh;
    background-image: url('../images/bg-body.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.dashboard-layout {
    background-image: url('../images/bg-body.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-category{
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.logo-auth {
    width: 100px;
}

.logo-dashboard {
    width: 40px;
}

.link-navigate {
    color: black;
    font-weight: 450;
}

.filter {
    background: #dcdcde;
    height: 80px;
    display: flex;
    align-items: center;
}

.filter-select {
    border-radius: 40px;
    background-color: #939396;
    color: black;
    font-weight: 600;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-search {
    border-radius: 40px;
    font-weight: 600;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-search {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}