.auth-input, .btn-auth{
    border-radius: 40px;
    height: 50px;
}

.auth-input{
    padding-left: 20px;
}

.card-auth{
    min-height: 50%;
    border-radius: 30px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

a{
    text-decoration: none;
}